*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav, .nav-links{
    display: flex;
}
#contact-us-form {
    flex: 1;
}

.footer {
    margin-top: auto;
}

nav{
    position: fixed;
    align-items: center;
    height: 10vh;
    background: #1a1a1a;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
}

.nav-links{
    padding-right: 27vh;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

.desktop-nav ,.text-logo{
    padding-right: 47%;
    padding-left: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    font-style: normal;
    color: white;
}

/* login logo */
#loginlogo {
    margin-left: 5px; /* Push the login logo to the right * 620px/
    /*margin-right: 15%; /* Add some right margin */ 
    cursor: pointer;
}

#shopping{
    padding-left: 180px;
}
/* search bar */
/*.nav-links input[type="text"]{
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-style:solid;
}*/
.home{
    box-shadow: inset 0 0 0 0 #3cb1ff;
    font-size: 25px;
    color: #ffffff;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.home:hover {
    color: #00d9ff;
    box-shadow: inset 200px 0 0 0 #9c54d6;;
}

/* search bar */
/*.nav-links input[type="text"]{
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-style:solid;
}*/

/* How can we help */
#contact-us-form {
    text-align: center;
}

/*footer*/
footer{
    left: 0;
    bottom: 0;
    padding: 20px 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
footer,.copyright{
    font-family: 'Gill Sans',sans-serif;
    font-size: 1.2em;
    
}

#footerbuttons a{
    display: grid;
    gap : 20px 2em;
    margin-bottom: 10px;
    font-size: 1.0rem;
    color: #4F95DA;
}

/* Form labels */
label {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em; /* Adjust the size as needed */
    font-weight: 600; /* Adjust the weight as needed */
    margin-bottom: 10px; /* Adjust spacing between labels */
}

/* Form input fields */
input[type="text"],
textarea,
select {
    font-family: 'Quicksand', sans-serif; /* Apply the same font as labels */
    font-size: 1em; /* Adjust the size as needed */
    padding: 10px;
    margin-bottom: 20px; /* Adjust spacing between input fields */
}

/* Submit button */
input[type="submit"] {
    font-family: 'Quicksand', sans-serif; /* Apply the same font as labels */
    font-size: 1em; /* Adjust the size as needed */
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Form labels */
label {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 5px; /* Adjust spacing between labels */
}

#help-label {
    font-size: 5.5em; /* Adjust the font size as needed */
	font-family: "Kanit", sans-serif;
  	font-weight: 600;
  	font-style: normal;
	  background: linear-gradient(red, blue);
	  -webkit-background-clip: text;
			  background-clip: text;
	  -webkit-text-fill-color: transparent;
}

/* Form input fields */
input[type="text"],
textarea,
select {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px; /* Adjust spacing between input fields */
	width: 500px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the input box horizontally */

}

/* Submit button */
input[type="submit"] {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:550px;
    margin-top: 50px;
    border: solid 3px;
    border-color: #0066ff;
}

.dropdown-content h1{
    font-size: 30px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  