*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 10vh;
}

nav, .nav-links{
    display: flex;
}

nav{
    position: fixed;
    align-items: center;
    height: 10vh;
    background: #1a1a1a;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
}

.nav-links{
    padding-right: 27vh;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

/* brand logo */
.desktop-nav ,.text-logo{
    padding-right: 45%;
    padding-left: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    font-style: normal;
    color: white;
}

#loginlogo{
    margin-left: 10%;
}

/* search bar */
/*.nav-links input[type="text"]{
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-style:solid;
}*/

/*Slidershow containers*/
.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: auto;
    max-height: 820px;
    flex-shrink: 0;
    transition: transform 7s ease-in-out; /* Add transition for smooth sliding */
}

.slide-1 {
    transform: translateX(0%);
}

.slide-2 {
    transform: translateX(-100%);
}

.slide-3 {
    transform: translateX(-200%);
}


@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.67% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.slider img {
    animation: slide 10s infinite; /* Adjust timing as needed */
}
/* collection section */
#Collection, .CollectionText {
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 1.6em;
}

#ceiling-fan,
#table-fan,
#bladeless-fan {
    border: 5px solid #ccc; /* Add border with a 2px width and color #ccc */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 0px; /* Add padding for spacing between content and border */
    margin-bottom: 20px; /* Add margin to create space between fan elements */
    margin-right: 20px; /* Add horizontal gap between fan elements */
    display: inline-block; /* Display fan elements as inline blocks */
	background-color: grey;
}

#ceiling-fan img,
#table-fan img,
#bladeless-fan img {
    width: 500px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure image is displayed as block element */
    margin: 0 auto 10px; /* Center image horizontally and add space below */
}

/* Style the anchor tags */
#ceiling-fan a,
#table-fan a,
#bladeless-fan a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4F95DA;
    border-radius: 25px;
    transition: background-color 0.3s ease;
	margin-bottom: 20px;
	font-family: "Mulish", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
}

/* Hover effect for anchor tags */
#ceiling-fan a:hover,
#table-fan a:hover,
#bladeless-fan a:hover {
    background-color: #1a1a1a;
}



/*footer*/
footer{
    left: 0;
    bottom: 0;
    padding: 20px 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
footer,.copyright{
    font-family: 'Gill Sans',sans-serif;
    font-size: 1.2em;
    
}

#footerbuttons{
    display: grid;
    gap : 20px 1em;
    font-size: 1.0rem;
    color: lightblue;
}
/* search bar */
#search {
	display: grid;
	grid-area: search;
	grid-template:
		"search" 60px
		/ 420px;
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	align-items: stretch;
	background:  #1a1a1a;
}

#search input {
	display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 24px/1 system-ui, sans-serif;
	outline-offset: -8px;
    color: white;
}


#search svg {
	grid-area: search;
	overflow: visible;
	color: hsl(215, 100%, 50%);
	fill: none;
	stroke: currentColor;
}

.spark {
	fill: currentColor;
	stroke: none;
	r: 15;
}

.spark:nth-child(1) {
	animation:
		spark-radius 2.03s 1s both,
		spark-one-motion 2s 1s both;
}

@keyframes spark-radius {
	0% { r: 0; animation-timing-function: cubic-bezier(0, 0.3, 0, 1.57) }
	30% { r: 15; animation-timing-function: cubic-bezier(1, -0.39, 0.68, 1.04) }
	95% { r: 8 }
	99% { r: 10 }
	99.99% { r: 7 }
	100% { r: 0 }
}

@keyframes spark-one-motion {
	0% { transform: translate(-20%, 50%); animation-timing-function: cubic-bezier(0.63, 0.88, 0, 1.25) }
	20% { transform: rotate(-0deg) translate(0%, -50%); animation-timing-function: ease-in }
	80% { transform: rotate(-230deg) translateX(-20%) rotate(-100deg) translateX(15%); animation-timing-function: linear }
	100% { transform: rotate(-360deg) translate(30px, 100%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
}

.spark:nth-child(2) {
	animation:
		spark-radius 2.03s 1s both,
		spark-two-motion 2.03s 1s both;
}

@keyframes spark-two-motion {
	0% { transform: translate(120%, 50%) rotate(-70deg) translateY(0%); animation-timing-function: cubic-bezier(0.36, 0.18, 0.94, 0.55) }
	20% { transform: translate(90%, -80%) rotate(60deg) translateY(-80%); animation-timing-function: cubic-bezier(0.16, 0.77, 1, 0.4) }
	40% { transform: translate(110%, -50%) rotate(-30deg) translateY(-120%); animation-timing-function: linear }
	70% { transform: translate(100%, -50%) rotate(120deg) translateY(-100%); animation-timing-function: linear }
	80% { transform: translate(95%, 50%) rotate(80deg) translateY(-150%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
	100% { transform: translate(100%, 50%) rotate(120deg) translateY(0%) }
}

.spark:nth-child(3) {
	animation:
		spark-radius 2.05s 1s both,
		spark-three-motion 2.03s 1s both;
}

@keyframes spark-three-motion {
	0% { transform: translate(50%, 100%) rotate(-40deg) translateX(0%); animation-timing-function: cubic-bezier(0.62, 0.56, 1, 0.54) }
	30% { transform: translate(40%, 70%) rotate(20deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.21, 0.88, 0.46) }
	40% { transform: translate(65%, 20%) rotate(-50deg) translateX(15%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	60% { transform: translate(60%, -40%) rotate(-50deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	70% { transform: translate(70%, -0%) rotate(-180deg) translateX(20%); animation-timing-function: cubic-bezier(0.15, 0.48, 0.76, 0.26) }
	100% { transform: translate(70%, -0%) rotate(-360deg) translateX(0%) rotate(180deg) translateX(20%); }
}




.burst {
	stroke-width: 3;
}

.burst :nth-child(2n) { color: #ff783e }
.burst :nth-child(3n) { color: #ffab00 }
.burst :nth-child(4n) { color: #55e214 }
.burst :nth-child(5n) { color: #82d9f5 }

.circle {
	r: 6;
}

.rect {
	width: 10px;
	height: 10px;
}

.triangle {
	d: path("M0,-6 L7,6 L-7,6 Z");
	stroke-linejoin: round;
}

.plus {
	d: path("M0,-5 L0,5 M-5,0L 5,0");
	stroke-linecap: round;
}




.burst:nth-child(4) {
	transform: translate(30px, 100%) rotate(150deg);
}

.burst:nth-child(5) {
	transform: translate(50%, 0%) rotate(-20deg);
}

.burst:nth-child(6) {
	transform: translate(100%, 50%) rotate(75deg);
}

.burst * {}

@keyframes particle-fade {
	0%, 100% { opacity: 0 }
	5%, 80% { opacity: 1 }
}

.burst :nth-child(1) { animation: particle-fade 600ms 2.95s both, particle-one-move 600ms 2.95s both; }
.burst :nth-child(2) { animation: particle-fade 600ms 2.95s both, particle-two-move 600ms 2.95s both; }
.burst :nth-child(3) { animation: particle-fade 600ms 2.95s both, particle-three-move 600ms 2.95s both; }
.burst :nth-child(4) { animation: particle-fade 600ms 2.95s both, particle-four-move 600ms 2.95s both; }
.burst :nth-child(5) { animation: particle-fade 600ms 2.95s both, particle-five-move 600ms 2.95s both; }
.burst :nth-child(6) { animation: particle-fade 600ms 2.95s both, particle-six-move 600ms 2.95s both; }

@keyframes particle-one-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-two-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-three-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-four-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-35deg) translateX(12%) } }
@keyframes particle-five-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(12%) } }
@keyframes particle-six-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(35deg) translateX(12%) } }



.bar {
	width: 100%;
	height: 100%;
	ry: 50%;
	stroke-width: 10;
	animation: bar-in 900ms 3s both;
}

@keyframes bar-in {
	0% { stroke-dasharray: 0 180 0 226 0 405 0 0 }
	100% { stroke-dasharray: 0 0 181 0 227 0 405 0 }
}

.magnifier {
	animation: magnifier-in 600ms 3.6s both;
	transform-box: fill-box;
}

@keyframes magnifier-in {
	0% { transform: translate(20px, 8px) rotate(-45deg) scale(0.01, 0.01); }
	50% { transform: translate(-4px, 8px) rotate(-45deg); }
	100% { transform: translate(0px, 0px) rotate(0deg); }
}

.magnifier .glass {
	cx: 27;
	cy: 27;
	r: 8;
	stroke-width: 3;
}
.magnifier .handle {
	x1: 32;
	y1: 32;
	x2: 44;
	y2: 44;
	stroke-width: 3;
}



#results {
	grid-area: results;
	background: hsl(0, 0%, 95%);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 120px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#loginlogo {
	margin-top: 10px;
	cursor: pointer; /* Add cursor pointer to indicate it's clickable */
}