*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 10vh;
}

nav, .nav-links{
    display: flex;
}

nav{
    position: fixed;
    align-items: center;
    height: 10vh;
    background: #1a1a1a;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
}

.nav-links{
    padding-right: 27vh;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

/* brand logo */
.desktop-nav ,.text-logo{
    padding-right: 45%;
    padding-left: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    font-style: normal;
    color: white;
}

#loginlogo{
    margin-left: 10%;
}

/*footer*/
footer{
    left: 0;
    bottom: 0;
    padding: 20px 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
footer,.copyright{
    font-family: 'Gill Sans',sans-serif;
    font-size: 1.2em;
    
}

#footerbuttons{
    display: grid;
    gap : 20px 1em;
    font-size: 1.0rem;
    color: lightblue;
}
/* search bar */
#search {
	display: grid;
	grid-area: search;
	grid-template:
		"search" 60px
		/ 420px;
	justify-content: center;
	align-content: center;
	justify-items: stretch;
	align-items: stretch;
	background:  #1a1a1a;
}

#search input {
	display: block;
	grid-area: search;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: none;
	padding: 0 30px 0 60px;
	border: none;
	border-radius: 100px;
	font: 24px/1 system-ui, sans-serif;
	outline-offset: -8px;
    color: white;
}


#search svg {
	grid-area: search;
	overflow: visible;
	color: hsl(215, 100%, 50%);
	fill: none;
	stroke: currentColor;
}

.spark {
	fill: currentColor;
	stroke: none;
	r: 15;
}

.spark:nth-child(1) {
	animation:
		spark-radius 2.03s 1s both,
		spark-one-motion 2s 1s both;
}

@keyframes spark-radius {
	0% { r: 0; animation-timing-function: cubic-bezier(0, 0.3, 0, 1.57) }
	30% { r: 15; animation-timing-function: cubic-bezier(1, -0.39, 0.68, 1.04) }
	95% { r: 8 }
	99% { r: 10 }
	99.99% { r: 7 }
	100% { r: 0 }
}

@keyframes spark-one-motion {
	0% { transform: translate(-20%, 50%); animation-timing-function: cubic-bezier(0.63, 0.88, 0, 1.25) }
	20% { transform: rotate(-0deg) translate(0%, -50%); animation-timing-function: ease-in }
	80% { transform: rotate(-230deg) translateX(-20%) rotate(-100deg) translateX(15%); animation-timing-function: linear }
	100% { transform: rotate(-360deg) translate(30px, 100%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
}

.spark:nth-child(2) {
	animation:
		spark-radius 2.03s 1s both,
		spark-two-motion 2.03s 1s both;
}

@keyframes spark-two-motion {
	0% { transform: translate(120%, 50%) rotate(-70deg) translateY(0%); animation-timing-function: cubic-bezier(0.36, 0.18, 0.94, 0.55) }
	20% { transform: translate(90%, -80%) rotate(60deg) translateY(-80%); animation-timing-function: cubic-bezier(0.16, 0.77, 1, 0.4) }
	40% { transform: translate(110%, -50%) rotate(-30deg) translateY(-120%); animation-timing-function: linear }
	70% { transform: translate(100%, -50%) rotate(120deg) translateY(-100%); animation-timing-function: linear }
	80% { transform: translate(95%, 50%) rotate(80deg) translateY(-150%); animation-timing-function: cubic-bezier(.64,.66,0,.51) }
	100% { transform: translate(100%, 50%) rotate(120deg) translateY(0%) }
}

.spark:nth-child(3) {
	animation:
		spark-radius 2.05s 1s both,
		spark-three-motion 2.03s 1s both;
}

@keyframes spark-three-motion {
	0% { transform: translate(50%, 100%) rotate(-40deg) translateX(0%); animation-timing-function: cubic-bezier(0.62, 0.56, 1, 0.54) }
	30% { transform: translate(40%, 70%) rotate(20deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.21, 0.88, 0.46) }
	40% { transform: translate(65%, 20%) rotate(-50deg) translateX(15%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	60% { transform: translate(60%, -40%) rotate(-50deg) translateX(20%); animation-timing-function: cubic-bezier(0, 0.24, 1, 0.62) }
	70% { transform: translate(70%, -0%) rotate(-180deg) translateX(20%); animation-timing-function: cubic-bezier(0.15, 0.48, 0.76, 0.26) }
	100% { transform: translate(70%, -0%) rotate(-360deg) translateX(0%) rotate(180deg) translateX(20%); }
}




.burst {
	stroke-width: 3;
}

.burst :nth-child(2n) { color: #ff783e }
.burst :nth-child(3n) { color: #ffab00 }
.burst :nth-child(4n) { color: #55e214 }
.burst :nth-child(5n) { color: #82d9f5 }

.circle {
	r: 6;
}

.rect {
	width: 10px;
	height: 10px;
}

.triangle {
	d: path("M0,-6 L7,6 L-7,6 Z");
	stroke-linejoin: round;
}

.plus {
	d: path("M0,-5 L0,5 M-5,0L 5,0");
	stroke-linecap: round;
}




.burst:nth-child(4) {
	transform: translate(30px, 100%) rotate(150deg);
}

.burst:nth-child(5) {
	transform: translate(50%, 0%) rotate(-20deg);
}

.burst:nth-child(6) {
	transform: translate(100%, 50%) rotate(75deg);
}

.burst * {}

@keyframes particle-fade {
	0%, 100% { opacity: 0 }
	5%, 80% { opacity: 1 }
}

.burst :nth-child(1) { animation: particle-fade 600ms 2.95s both, particle-one-move 600ms 2.95s both; }
.burst :nth-child(2) { animation: particle-fade 600ms 2.95s both, particle-two-move 600ms 2.95s both; }
.burst :nth-child(3) { animation: particle-fade 600ms 2.95s both, particle-three-move 600ms 2.95s both; }
.burst :nth-child(4) { animation: particle-fade 600ms 2.95s both, particle-four-move 600ms 2.95s both; }
.burst :nth-child(5) { animation: particle-fade 600ms 2.95s both, particle-five-move 600ms 2.95s both; }
.burst :nth-child(6) { animation: particle-fade 600ms 2.95s both, particle-six-move 600ms 2.95s both; }

@keyframes particle-one-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-two-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-three-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(20deg) translateX(8%) scale(0.5, 0.5) } }
@keyframes particle-four-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(-35deg) translateX(12%) } }
@keyframes particle-five-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(0deg) translateX(12%) } }
@keyframes particle-six-move { 0% { transform: rotate(0deg) translate(-5%) scale(0.0001, 0.0001) } 100% { transform: rotate(35deg) translateX(12%) } }



.bar {
	width: 100%;
	height: 100%;
	ry: 50%;
	stroke-width: 10;
	animation: bar-in 900ms 3s both;
}

@keyframes bar-in {
	0% { stroke-dasharray: 0 180 0 226 0 405 0 0 }
	100% { stroke-dasharray: 0 0 181 0 227 0 405 0 }
}

.magnifier {
	animation: magnifier-in 600ms 3.6s both;
	transform-box: fill-box;
}

@keyframes magnifier-in {
	0% { transform: translate(20px, 8px) rotate(-45deg) scale(0.01, 0.01); }
	50% { transform: translate(-4px, 8px) rotate(-45deg); }
	100% { transform: translate(0px, 0px) rotate(0deg); }
}

.magnifier .glass {
	cx: 27;
	cy: 27;
	r: 8;
	stroke-width: 3;
}
.magnifier .handle {
	x1: 32;
	y1: 32;
	x2: 44;
	y2: 44;
	stroke-width: 3;
}

#results {
	grid-area: results;
	background: hsl(0, 0%, 95%);
}
#product-display,.msg1{
	text-align: center;
	font-family: "DM Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	font-size: 2.1em;
}
.btn-container {
    display: flex;
	justify-content: center;
    gap: 25px; /* Adjust the gap between buttons */
    margin-top: 55px; /* Add margin for spacing */
}

.btn {
	border: none;
	width: 13em;
	height: 3em;
	border-radius: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	background: #1C1A1C;
	cursor: pointer;
	transition: all 450ms ease-in-out;
  }
  
  .sparkle {
	fill: #AAAAAA;
	transition: all 800ms ease;
  }
  
  .text {
	font-weight: 600;
	color: #AAAAAA;
	font-size: 1.3em;
  }
  
  .btn:hover {
	background: linear-gradient(0deg,#7cb4f3,#0018ee);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
	inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
	0px 0px 0px 4px rgba(255, 255, 255, 0.2),
	0px 0px 180px 0px #9f00fc;
	transform: translateY(-2px);
  }
  
  .btn:hover .text {
	color: white;
  }
  
  .btn:hover .sparkle {
	fill: white;
	transform: scale(1.2);
  } 


/* productstyles.css */
#product-listing {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items at the start of the flex container */
    gap: 40px; /* Adjust the gap between product cards */
	margin-left: 100px;
}

.product-card {
    width: calc(25% - 100px); /* Adjust the width of each product card based on the number of products per row */
    max-width: 500px; /* Set a maximum width for each product card */
    height: 600px; /* Allow the height to adjust based on content */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Adjust the size of the product images */
.product-card img.product-image {
    width: 300px; /* Set the width to 200px */
    height: 300px; /* Set the height to 200px */
    margin: 0 auto; /* Center the image horizontally and add bottom margin */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.product-card h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
	font-family: "Poppins", sans-serif;
  	font-weight: 700;
 	font-style: normal;
}

.product-card p {
	margin-bottom : 10px;
	font-size: 16px;
	font-family: "Nunito Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
  	font-variation-settings:
    	"wdth" 100,
    	"YTLC" 500;
}

.add-to-cart-btn{
	align-items: center;
	background-color: #fff;
	border: 2px solid #000;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: inline-flex;
	fill: #000;
	font-family: "Yeseva One", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
	height: 48px;
	justify-content: center;
	letter-spacing: -.8px;
	line-height: 24px;
	min-width: 140px;
	outline: 0;
	padding: 0 17px;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;

}

.add-to-cart-btn:focus {
	color: #171e29;
}
  
.add-to-cart-btn:hover {
	border-color: #06f;
	color: #06f;
	fill: #06f;
}
  
.add-to-cart-btn:active {
	border-color: #06f;
	color: #06f;
	fill: #06f;
}
  
