*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 10vh;
}

nav, .nav-links{
    display: flex;
}

nav{
    position: fixed;
    align-items: center;
    height: 10vh;
    background: #1a1a1a;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    
}

.nav-links{
    padding-right: 27vh;
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

/* brand logo */
.desktop-nav ,.text-logo{
    padding-right: 45%;
    padding-left: 5%;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    font-style: normal;
    color: white;
}

#loginlogo{
    margin-left: 10%;
}

/*footer*/
footer{
    left: 0;
    bottom: 0;
    padding: 20px 0;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
footer,.copyright{
    font-family: 'Gill Sans',sans-serif;
    font-size: 1.2em;
    
}

#footerbuttons{
    display: grid;
    gap : 20px 1em;
    font-size: 1.0rem;
    color: lightblue;
}
